.stores {
    max-width: 360px;
    border-radius: 6px 0 0 6px;

    &__search {
        margin: 24px 20px 0px 20px;
        display: flex;
        align-items: center;

        &-icon {
            margin-right: 8px;
        }

        &-input {
            width: 320px;
            height: 38px;
            
            border: none;
            padding: 0px;

            &:focus {
                outline: none;
            }
        }
    }

    

    &__warehouses {
        height: 550px;
        overflow: scroll;
        margin-right: 5px;

        &::-webkit-scrollbar{
            width: 6px; 
            height: 100%;          
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.3);
            border-radius: 4px;
        }
    }

    &__warehouse {

        &-item {
            border-top: 1px solid transparent;
            width: 320px;
            padding: 18px 20px 17px 20px;

            &_clickable {

                border-color: #E5E5E5;
                &:hover {
                    background: #F2F2F2;
                    cursor: pointer;
                }
            }
            
        }

        &-name {
            font-weight: 700;
            font-size: 16px;
            margin: 0;
            padding: 0;
            line-height: 21px;
            margin-bottom: 2px;
        }

        &-address {
            font-weight: 400;
            font-size: 14px;
            line-height: 18.2px;
        }

        &-pickup {
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            color: #6BB224;
            margin-top: 4px;
        }

        &-phone-section {
            display: flex;
            align-items: baseline;
            margin-top: 14px;
        }

        &-phone-icon {
            margin-right: 6px;
        }

        &-phone-number {
            font-weight: 400;
            font-size: 16px;
            line-height: 14px;
        }

        &-schedule-section {
            display: flex;
            align-items: baseline;
            margin-top: 8px;
        }

        &-schedule-icon {
            margin-right: 6px; 
        }

        &-schedule {
            font-weight: 400;
            font-size: 14px;
            line-height: 18.2px;
            width: 121px;

        }
    }

}